.wrapper-place-description {
    position: absolute !important;
    bottom: 20px;
    left: 20px;    
    z-index: 10;
    width: 300px;
    background-color: white;
    cursor: default !important;
}
.additional-desc {
    margin-top: 20px;
}