.wrapper-place-description {
    position: absolute !important;
    bottom: 20px;
    left: 20px;    
    z-index: 10;
    width: 300px;
    background-color: white;
    cursor: default !important;
}
@media only screen and (max-width: 600px) {
    .wrapper-place-description {
        display: none;
    }
  }
.additional-desc {
    margin-top: 20px;
}